.headerContainer {
    width: 100%;
    height: 10vh;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0;
    position: relative;
    padding-bottom: 130px;
    border-bottom: 1px solid $secondary-color-lighter;
    background-image: url(../../../../themes/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    transform: scale(1.035) translateX(23.5px);
    // transform: translateX(30px);
    @include respond-below(sm) {
        flex-direction: column-reverse;
        padding-top: 70px;
        position: relative;
        padding-bottom: 20px;
    }
    .heading {
        text-align: center;
        margin-bottom: 20px;
        color: white;
        font: small-caps bold 40px/1 sans-serif;
    }
    .accountContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: $secondary-text-color;
        width: 15em;

        .accountIcon {
            font-size: 30px;
            margin-left: 5px;
            @include respond-below(sm) {
                display: none;
            }
        }
        .userName {
            white-space: nowrap;
            @include respond-below(sm) {
                display: none;
            }
        }
        .logoutButton {
            outline: none;
            margin-left: 10px;
            @include respond-below(sm) {
                display: none;
            }
            .exitIcon {
                font-size: 30px;
            }
        }
    }
    .searchBar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        z-index: 10 !important;
        .root {
            padding: 2px 4px;
            display: flex;
            align-items: center;
            width: 80%;
            z-index: 10 !important;
            margin-right: 20px;
            margin-left: 10px;
            .input {
                flex: 1;
                padding-left: 10px;
            }
            .iconButton {
                padding: 10px;
            }
            .divider {
                height: 28px;
                margin: 4px;
            }
        }
    }
}
