.container {
    padding: 40px 100px 40px 100px;
    // padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .back,
    .forth {
        position: fixed;
        font-size: 30px !important;
        transition: 0.5s;
        display: flex;
        border-radius: 100px;
        &:hover {
            transform: scale(1.7);
            cursor: pointer;
            background-color: $primary-color;
        }
    }
    .back {
        left: 100px;
        top: 55%;
    }
    .forth {
        right: 100px;
        top: 55%;
    }
    .resultCount {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    &:nth-child(1) {
        background-color: red;
    }
    .resultContainer {
        // padding: 0px 40px 0px 40px;
        border-radius: 30px;
        padding: 15px;
        margin: 10px;
        &:hover {
            cursor: pointer;
            background-color: #e2f2f5;
            transition: 0.5s;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        .resultListNumber {
            margin-bottom: 20px;
            .number {
                font-size: 30px;
                text-align: center;
            }
        }
        .resultbody {
            .resultTitle {
                display: block;
                margin-bottom: 20px;
                color: #83c9d4;
            }
        }
    }
}
