.container {
    // width: 100% !important;
    // border: 1px solid white;
    // border-radius: 10px;
    padding: 0.1em;
    display: flex !important;
    flex-direction: row !important;
    // background-color: $primary-color-hover;
    margin-top: 1em !important;
    // height: 5vh;
    align-items: center;
    // justify-content: flex-start;
    // align-items: center;
    // padding: 3em 0;
    // border-bottom: 1px solid $secondary-color-lighter;
    .option {
        margin: auto;
        border-radius: 15px !important;
        // width: 50%;
        width: 32%;
        // width: 30% !important;
        border-color: chocolate !important;

        > div {
            width: 100%;
            border-color: chocolate !important;
        }

        // border: 1px solid white;
        // border: none;
        // outline-width: 0;
        input {
            border-radius: 15px;
            outline-width: 0;
            border: 0.5px solid black;
            border-color: chocolate !important;

            padding: 0.5vw;
        }
        input:focus {
            border-radius: 15px;
            border-color: chocolate;

            outline-width: 0;
        }
        // outline: 0;
    }
}
